.Nav {
  .Nav-Buttons {
    margin-left: auto;
  }
}

.Post-Landing {
  background-color: #afadad;
  height: 50vh;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .third {
    grid-area: 2 / 3 / 3 / 7;
  }
  .first {
    grid-area: 1 / 2 / 2 / 5;
  }
  .second {
    grid-area: 1 / 5 / 2 / 8;
  }
  .quality {
    padding: 10px;
    text-align: center;
    .icon {
      height: 50px;
      width: 50px;
      margin: auto;
      img {
        object-fit: contain;
        height: 50px;
        width: 50px;
      }
    }
  }
}
.Landing {
  display: grid;
  background: #2f4850;
  top: 0;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .Big-Words {
    grid-area: 2 / 1 / 3 / 5;
    h1 {
      text-align: center;
      width: 70%;
      margin: auto 0px;
      overflow: auto;
    }
  }
  .MyFace {
    grid-area: 2 / 4 / 4 / 6;

    .Face {
      object-fit: contain;
      width: 100%;
      height: auto;
    }
  }
}
.myProjects {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  h1 {
    text-align: center;
  }
  .div1 {
    grid-area: 1 / 1 / 3 / 7;
    text-align: center;
  }
  .div2 {
    grid-area: 3 / 1 / 6 / 4;
  }
  .div3 {
    grid-area: 6 / 1 / 9 / 4;
  }
  .div4 {
    grid-area: 9 / 1 / 12 / 4;
  }
  .div5 {
    grid-area: 4 / 4 / 5 / 7;
  }
  .div6 {
    grid-area: 7 / 4 / 8 / 7;
  }
  .div7 {
    grid-area: 10 / 4 / 11 / 7;
  }
}

.WCID {
  display: grid;

  margin: 4rem auto;
  height: 200vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .kard {
    margin: 2rem 1rem;
    padding: 0px;
    max-width: 500px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h4 {
    font-weight: 500;
    font-size: medium;
    padding: 4rem 0.5rem;
    margin: auto;
  }
  .div1 {
    grid-area: 1 / 1 / 3 / 13;
    align-items: center;
    text-align: center;
    margin: 2rem;

    h4 {
      padding: 0 2rem;
      font-weight: 100;
      font-size: medium;
      display: inline-block;
    }
  }
  .div2 {
    grid-area: 3 / 2 / 6 / 8;
  }
  .div3 {
    grid-area: 3 / 8 / 5 / 12;
  }
  .div4 {
    grid-area: 6 / 6 / 9 / 12;
  }
  .div5 {
    grid-area: 6 / 2 / 8 / 6;
  }
  .div6 {
    grid-area: 9 / 2 / 12 / 8;
  }
  .div7 {
    grid-area: 9 / 8 / 11 / 12;
  }
}
footer {
  .contact {
    .img .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }
    .img:hover .tooltiptext {
      visibility: visible;
    }
    margin-top: 30vh;
    h1 {
      width: 100%;
      text-align: center;
    }
    .socials {
      margin: 0 auto;
      width: 80%;
      display: flex;
      justify-content: space-around;

      .s {
        flex: 1;
        .img {
          margin: 0 auto;
          img {
            vertical-align: middle;
            height: 50px;
            margin: 0 45%;
          }
        }
        h2 {
          text-align: center;
          font-size: small;
          font-weight: 200;
        }
      }
    }
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 72rem;

    text-align: center;

    padding-top: 2rem;
    padding-bottom: 2rem;

    justify-content: center;

    display: flex;
  }
}

@media only screen and (min-width: 600px) {
  .Landing {
    .MyFace {
      .Face {
        object-fit: contain;
        width: 100%;
        height: auto;
        margin-top: 6.8vh;
      }
    }
  }
  .WCID {
    display: grid;

    margin: 4rem auto;
    height: 200vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .kard {
      margin: 2rem 1rem;
      padding: 0px;
      max-width: 500px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h4 {
      font-weight: 500;
      font-size: medium;
      padding: 4rem 0.5rem;
      margin: auto;
    }
    .div1 {
      grid-area: 1 / 1 / 3 / 13;
      align-items: center;
      text-align: center;
      margin: 2rem;

      h4 {
        padding: 0 2rem;
        font-weight: 100;
        font-size: medium;
        text-align: center;
        width: 40vw;
      }
    }
    .div2 {
      grid-area: 3 / 2 / 6 / 8;
    }
    .div3 {
      grid-area: 3 / 8 / 5 / 12;
      padding-top: 30%;
      padding-right: 30%;
    }
    .div4 {
      grid-area: 6 / 6 / 9 / 12;
    }
    .div5 {
      grid-area: 6 / 2 / 8 / 6;
      padding-top: 40%;
    }
    .div6 {
      grid-area: 9 / 2 / 12 / 8;
    }
    .div7 {
      grid-area: 9 / 8 / 11 / 12;
      padding-top: 40%;
      padding-right: 30%;
    }
  }
}
@media only screen and (max-width: 400px) {
  .Landing {
    height: 120vh;
    .Big-Words {
      width: 100vw;
      h1 {
        width: 100vw;
      }
    }
    .MyFace {
      width: 0;
    }
  }
  .WCID {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .kard {
      margin: auto;
      width: 70vw;
    }
    h4 {
      text-align: center;
    }
    .div1 {
      grid-area: 1 / 1 / 3 / 13;
      padding-bottom: 40vh;
      h4 {
        visibility: hidden;
      }
    }
    .div2 {
      grid-area: 3 / 2 / 5 / 12;
    }
    .div3 {
      grid-area: 5 / 2 / 6 / 12;
    }
    .div4 {
      grid-area: 6 / 2 / 8 / 12;
    }
    .div5 {
      grid-area: 8 / 2 / 9 / 12;
    }
    .div6 {
      grid-area: 9 / 2 / 11 / 12;
    }
    .div7 {
      grid-area: 11 / 2 / 12 / 12;
    }
  }

  .myProjects {
    margin-top: 40vh;
  }
  footer {
    .contact {
      margin-top: 10vh;
      .socials {
        .s {
          flex: 1;
          height: 4rem;
          h2 {
            width: 0;
            visibility: hidden;
          }
        }
      }
    }
  }
}
